<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="js/vue-script.js"></script>
    <title>vue-boolfix</title>
  </head>
  <body>
    <div id="app">

      <header>
        <img :src="logoNetflix" class="logo">
        <div>
          <input type="text" v-model="userInput" @keyup.enter="search" placeholder="Search">
        </div>
      </header>

      <div class="searched-cont">
        <h2 :class="headClass">Risultati per : {{ searched }}</h2>
      </div>
      <div class="result-cont">
      
        <div v-for="(result, index) in searchResults" class="result-item">
          <img v-if="result.poster_path" :src="imgCall + result.poster_path">
          <img v-else src="img/default.jpg">
          <div class="hover-watch">
            <ul>
              <li>
                <h3>{{ result.title }}</h3>
              </li>
              <li>{{ result.original_title }}</li>
              <li>
                Lingua: 
                <img  v-if="isFlaggable(result.original_language)" :src="'img/' + flagSrc[result.original_language]" class="flag">
                <span v-else>{{ result.original_language }}</span>
              </li>
              <li>
                Voto: 
                <i v-for="item in starGen(result.vote_average)" class="fas fa-star gold"></i>
                <i v-for="item in maxStars - starGen(result.vote_average)" class="fas fa-star"></i>
              </li>
              <li>
                <span class="genres">
                  <span v-for="genreId in result.genre_ids" class="genre">
                    {{ getGenres(genreId) }}
                  </span>
                </span>
              </li>
              <li>{{ result.overview }}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>