<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- vue axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="js/vue-script.js"></script>
    <title>vue-boolfix</title>
  </head>
  <body>
    <div id="app">

      <div class="search-cont">
        <input type="text" v-model="userInput">
        <button @click="search">enter</button>
      </div>

      <div class="result-cont">
        <div v-for="(result, index) in searchResults" class="result-item">
          <div>
            <img v-if="result.poster_path == null" src="img/default.jpg" alt="">
            <img v-else :src="imgCall + result.poster_path" alt="Poster not found">
          </div>
          <div class="hover-watch">
            <ul>
              <li>Titolo: {{ result.title }}</li>
              <li>Titolo originale: {{ result.original_title }}</li>
              <li>
                Lingua: 
                <img v-if="result.original_language == 'en' || result.original_language == 'it'" :src="'img/' + flagSrc[result.original_language]" class="flag">
                <span v-else>{{ result.original_language }}</span>
              </li>
              <li>
                Voto: 
                <i v-for="item in starGen(result.vote_average)" class="fas fa-star gold"></i>
                <i v-for="item in maxStars - starGen(result.vote_average)" class="fas fa-star"></i>
              </li>
              <li>Overwiew: {{ result.overview }}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>